name: Deploy Docker Compose

on:
  push:
    branches:
      - main  # пуши в main будут запускать деплой

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            git fetch --all
            git reset --hard origin/main
            docker compose down
            docker compose up -d --build
            echo "Deployment finished"
